
*.Zip

*.SchDocPreview

*.LOG

*.PcbDocPreview

pcb_new/main/main_pcb.$$$

pcb_new/main/Project Outputs for main_pcb/Design Rule Check - main_pcb.html

pcb_new/main/Project Outputs for main_pcb/Design Rule Check - main_pcb.drc

pcb_new/main/Project Outputs for main_pcb/Status Report.Txt

pcb_new/main/Project Outputs for main_pcb/main_pcb.CSV

pcb_new/main/Project Outputs for main_pcb/main_pcb.BOM
